<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Getinspired</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css')}}">
    </head>
    <body>
        <h1>Get Inspired</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmelySjo-qxxL2PTFVBmO-AvtGRGbwVYxijw&usqp=CAU">
        <br>
        <form action="getinspired" method="post">
        </form>
        <div>
            {% for inspiration in inspiration_list %}
            <p>"{{ inspiration.data }}"({{ inspiration.id }}) </p>
            {% endfor %}
        </div>
    </body>
</html>