<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css')}}">
    </head>

    <body>
        <h1>Inspiration App</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTe8pnKkqGdUd6KOkHbqa-AvkdjV5gBhW-mw&usqp=CAU">
        <br>
        <p>This app offers a space to  be filled with the urge and ability to do or feel something or to do the same for someone else through motivational or inspirational words.</p>
        <p>Feel free to inspire(leave a motivational message) or get inspired(get a motivational message).</p>
        <br>
        <form action="/inspire" method="POST">
            <input type="submit" value="INSPIRE" id="inspire" name="inspire">
        </form>
        <br>
        <form action="/getinspired" method="POST">
            <input type="submit" value="GET INSPIRED" id="getinspired" name="getinspired">
        </form>
    </body>
</html>