<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Inspire</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    </head>
    <body>
        <h1>Inspire</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrcJhR5YDqL4-j5gjO7ycu4CF0n8StWTp8LQ&usqp=CAU">
        <br>
        <p>To become personally inspired, the best you can do is set up the optimal circumstances for inspiration. This does not always work and there is need to get inspiration from external sources and people.
           Be that source for someone else today with the sheer potency of inspiration and its potential impact on what we do.</p>
        <form action="/inspire" method="post">
            {% for message in get_flashed_messages() %}
            <p>{{message}}</p>
            {% endfor %}
            <textarea id="data" name="data" placeholder="Leave your inspiration message here" required></textarea>
            <br>
            <input type="submit" value="INSPIRE" id="inspire" name="inspire">
        </form>
    </body>
</html>